@mixin floating {
  border-radius: 40px;
  box-shadow: 5px 10px rgb(0 0 0 / 0.6);
  border: 1px solid rgb(17, 0, 255);
}

@mixin grid {
  display: flex;
  justify-content: center;
  align-items: center;
}
